:root {
  --bg: #ffffff;
  --text: #222222;
  --link: #007acc;
}

body.dark {
  --bg: #1a1a1a;
  --text: #f9f9f9;
  --link: #66d9ef;
  background-color: var(--bg);
  color: var(--text);
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}
